.gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &__item{
    display: block;
    margin: 5px;
    border: 10px solid $gray-nurse;
    max-height: 200px;
    width: 300px;
    overflow: hidden;
    target-new: tab;
    img{
      width: 100%;
    }
  }
}