.article{
  &__header{
    margin-bottom: 30px;
    h1{
      font-weight: 900;
      font-size: 19pt;
      font-family: 'Roboto Condensed', sans-serif;
      color: $black;
    }
  }

  &__sub-header{
    display: flex;
    align-items: center;
    color: $grey;
    font-size: 12pt;
    &>*:first-child{
      padding-bottom: 2px;
      font-size: 16pt;
      margin-right: 7px;
    }
  }

  &__paragraph{
    margin-bottom: 30px;
  }

  &__quote {
    color: $silver-chalice;
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 13pt;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left:30px;
    padding-left: 10px;
    border-left: 5px solid $bermuda;
  }
}
