<div class="gallery" >
<div ng-repeat="item in photos | limitTo:9">
    <a class="gallery__item" ng-href="{{ item.link }}" target="_blank">
        <img ng-src="{{ item.media.m }}" />
    </a>
</div>
</div>