<section class="container">
    <article class="article">
        <header class="article__header">
            <h1>Marilyn Monroe</h1>
            <p class="article__sub-header"><i class="fa fa-map-marker"></i><span>Poznan, PL</span></p>
        </header>
        <p class="article__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim, mi at
            pulvinar lobortis, arcu mi volutpat urna, non semper urna eros a odio. Aliquam hendrerit leo sapien, nec
            mollis mi mattis ac. Nam aliquet mauris non erat vulputate tristique. Mauris nec fringilla mi, nec
            condimentum elit. Aliquam dignissim eu lacus eget bibendum. Ut quis augue leo. Nulla ex magna, luctus vel
            diam in, fringilla congue massa. Sed eget ultrices lacus, eu varius neque.
        </p>
        <p class="article__quote">
            Duis ac massa neque. Aenean non turpis vel lorem pretium aliquet. Nam aliquet est ac molestie cursus. Nunc
            metus magna, varius sit amet bibendum et, hendrerit ut arcu. Fusce molestie vulputate felis sed aliquam.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus vel lacus ac
            nisi elementum semper id in sem. Curabitur tempus eros vitae leo iaculis ultricies. Donec ut varius leo.
            Nullam eu egestas risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos.
        </p>
        <p>
            Donec sollicitudin hendrerit massa, nec convallis enim mattis quis. Sed molestie massa eu pretium posuere.
            Cras consequat massa nec nunc scelerisque, sed molestie odio laoreet. Duis eget tincidunt arcu. Pellentesque
            convallis tempor vehicula. Vestibulum ut eleifend lectus, eget tempus nibh. Nam non augue id ipsum luctus
            cursus a at libero. Fusce mollis mi ac fermentum convallis. Vivamus id lacus quis ex pellentesque vehicula
            ac sed elit. Etiam eleifend arcu ac scelerisque egestas. Fusce sem mauris, sodales ac congue et, blandit
            iaculis est.
        </p>
    </article>
</section>