@import "header/main";
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  @import "header/lg";
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  @import "header/md";
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  @import "header/sm";
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  @import "header/xs";
}


