@import "navigation/main";
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  @import "navigation/lg";
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  @import "navigation/md";
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  @import "navigation/sm";
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  @import "navigation/xs";
}

