
  @import "views/profile/main";
  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1199px) {
    @import "views/profile/lg";
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 991px) {
    @import "views/profile/md";
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 767px) {
    @import "views/profile/sm";
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 479px) {
    @import "views/profile/xs";
  }



  @import "views/gallery/main";
  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1199px) {
    @import "views/gallery/lg";
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 991px) {
    @import "views/gallery/md";
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 767px) {
    @import "views/gallery/sm";
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 479px) {
    @import "views/gallery/xs";
  }


