.navigation {
  height: 51px;
  background-color: $bermuda;
  position: relative;

  &--default {
    border-top: 1px solid $gray-nurse;
    border-radius: 0 0;
    .navbar-toggle {
      border-color: $gray-nurse;
      .icon-bar {
        background-color: $gray-nurse;
      }
    }
  }

  &__image-wrapper {
    position: absolute;
    bottom: -20px;
    height: 150px;
    border-radius: 50% 50%;
    border-color: $white;
    border: 10px solid $white-opacity-4;
  }

  &__header-image {
    display: inline-block;
    height: 100%;
    border-radius: 50% 50%;
  }

  &__collapse-text {
    display:none;
  }

  &__link {
    margin: 9px 9px;
    padding: 0px 0px !important;
    border-radius: 50% 50%;
    display:flex !important;
    align-items: center;
    flex-flow: row;
    &:focus {
      background-color: transparent !important;
    }
    &:hover {
      background-color: transparent !important;
      &> *:first-child {
        background-color: $ebony !important;
        border-color: transparent;
        @include transition(background-color 0.2s linear);
      }

    }

    & > *:first-child {
      padding: 6px 6px;
      width: 32px;
      border-radius: 50% 50%;
    }

    &--active {
      & > *:first-child {
        margin:-1px -1px;
        width: 34px;
        border: 1px solid $gray-nurse;
        @include transition(border 0.2s linear);
      }

    }
  }

}