.navigation{
  &__image-wrapper{
    display: none;
  }
  &__collapse{
    background-color: $ebony-clay;
  }

  &__collapse-text{
    display: block;
    color: $gray-nurse;
    margin-left: 34px;
    font-size: 13pt;
  }

  &__link{
    & > *:first-child{
      margin-left: 20px;
    }
    &--active{
      & > *:first-child{
        margin-left: 19px;
        margin-right: -1px;
      }
    }
  }

}