<nav class="navigation navigation--default navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <div class="navigation__image-wrapper">
                    <img class="navigation__header-image" ng-src="content/merlin.jpg"/>
                </div>
            </a>
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navigation__collapse" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav navbar-right navigation__list">
                <li class="navigation__item">
                    <a ng-class="getClass('/profile', 'navigation__link')" href="#/profile"
                       class="navigation__link " ng-click="isCollapsed = true">
                        <div class="icon">
                            <span class="icon__image icon__image--profile">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="navigation__collapse-text">Profile</div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a ng-class="getClass('/gallery', 'navigation__link')"
                       href="#/gallery" class="navigation__link" ng-click="isCollapsed = true">
                        <div>
                            <div class="icon">
                                <span class="icon__image icon__image--gallery">
                                    <i class="fa fa-picture-o "></i>
                                </span>
                            </div>
                        </div>
                        <div class="navigation__collapse-text">Gallery</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>