$bermuda: #7ad6bb;
$white: #fff;
$white-opacity-4: rgba(255,255,255,0.4);
$gray-nurse: #eef2ed;
$pastel-green: #7DD893;
$ebony: #101624;
$ebony-clay: #293142;
$grey: #808080;
$black: #000;
$silver-chalice: #a5a5a5;