/* line 3, ../sass/modules/_main.scss */
.icon__image {
  display: block;
  margin: 0 auto;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

/* line 1, ../sass/layout/header/_main.scss */
.header {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}
/* line 5, ../sass/layout/header/_main.scss */
.header__image {
  width: 100%;
}

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/layout/header/_sm.scss */
  .header {
    display: none;
  }
}
/* Extra Small Devices, Phones */
/* line 1, ../sass/layout/navigation/_main.scss */
.navigation {
  height: 51px;
  background-color: #7ad6bb;
  position: relative;
}
/* line 6, ../sass/layout/navigation/_main.scss */
.navigation--default {
  border-top: 1px solid #eef2ed;
  border-radius: 0 0;
}
/* line 9, ../sass/layout/navigation/_main.scss */
.navigation--default .navbar-toggle {
  border-color: #eef2ed;
}
/* line 11, ../sass/layout/navigation/_main.scss */
.navigation--default .navbar-toggle .icon-bar {
  background-color: #eef2ed;
}
/* line 17, ../sass/layout/navigation/_main.scss */
.navigation__image-wrapper {
  position: absolute;
  bottom: -20px;
  height: 150px;
  border-radius: 50% 50%;
  border-color: #fff;
  border: 10px solid rgba(255, 255, 255, 0.4);
}
/* line 26, ../sass/layout/navigation/_main.scss */
.navigation__header-image {
  display: inline-block;
  height: 100%;
  border-radius: 50% 50%;
}
/* line 32, ../sass/layout/navigation/_main.scss */
.navigation__collapse-text {
  display: none;
}
/* line 36, ../sass/layout/navigation/_main.scss */
.navigation__link {
  margin: 9px 9px;
  padding: 0px 0px !important;
  border-radius: 50% 50%;
  display: flex !important;
  align-items: center;
  flex-flow: row;
}
/* line 43, ../sass/layout/navigation/_main.scss */
.navigation__link:focus {
  background-color: transparent !important;
}
/* line 46, ../sass/layout/navigation/_main.scss */
.navigation__link:hover {
  background-color: transparent !important;
}
/* line 48, ../sass/layout/navigation/_main.scss */
.navigation__link:hover > *:first-child {
  background-color: #101624 !important;
  border-color: transparent;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
/* line 56, ../sass/layout/navigation/_main.scss */
.navigation__link > *:first-child {
  padding: 6px 6px;
  width: 32px;
  border-radius: 50% 50%;
}
/* line 63, ../sass/layout/navigation/_main.scss */
.navigation__link--active > *:first-child {
  margin: -1px -1px;
  width: 34px;
  border: 1px solid #eef2ed;
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  -ms-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /* line 2, ../sass/layout/navigation/_sm.scss */
  .navigation__image-wrapper {
    display: none;
  }
  /* line 5, ../sass/layout/navigation/_sm.scss */
  .navigation__collapse {
    background-color: #293142;
  }
  /* line 9, ../sass/layout/navigation/_sm.scss */
  .navigation__collapse-text {
    display: block;
    color: #eef2ed;
    margin-left: 34px;
    font-size: 13pt;
  }
  /* line 17, ../sass/layout/navigation/_sm.scss */
  .navigation__link > *:first-child {
    margin-left: 20px;
  }
  /* line 21, ../sass/layout/navigation/_sm.scss */
  .navigation__link--active > *:first-child {
    margin-left: 19px;
    margin-right: -1px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  /* line 2, ../sass/layout/navigation/_xs.scss */
  .navigation__image-wrapper {
    display: none;
  }
}
/* line 2, ../sass/layout/views/profile/_main.scss */
.article__header {
  margin-bottom: 30px;
}
/* line 4, ../sass/layout/views/profile/_main.scss */
.article__header h1 {
  font-weight: 900;
  font-size: 19pt;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
}
/* line 12, ../sass/layout/views/profile/_main.scss */
.article__sub-header {
  display: flex;
  align-items: center;
  color: #808080;
  font-size: 12pt;
}
/* line 17, ../sass/layout/views/profile/_main.scss */
.article__sub-header > *:first-child {
  padding-bottom: 2px;
  font-size: 16pt;
  margin-right: 7px;
}
/* line 24, ../sass/layout/views/profile/_main.scss */
.article__paragraph {
  margin-bottom: 30px;
}
/* line 28, ../sass/layout/views/profile/_main.scss */
.article__quote {
  color: #a5a5a5;
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 13pt;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 30px;
  padding-left: 10px;
  border-left: 5px solid #7ad6bb;
}

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* line 1, ../sass/layout/views/gallery/_main.scss */
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* line 5, ../sass/layout/views/gallery/_main.scss */
.gallery__item {
  display: block;
  margin: 5px;
  border: 10px solid #eef2ed;
  max-height: 200px;
  width: 300px;
  overflow: hidden;
  target-new: tab;
}
/* line 13, ../sass/layout/views/gallery/_main.scss */
.gallery__item img {
  width: 100%;
}

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* line 8, ../sass/global.scss */
body {
  font-family: 'Arial', sans-serif;
}
